In [1]:
# Introduction to if-else conditions:

In [4]:
students = ['anjali', 'harish', 'kartika','naveen','ram', 'samia', 'vandana' ]

In [5]:
len(students)

7

In [6]:
for x in students:
	if x == 'vandana':
		print(x.upper())
	else:
		print(x.title())

Anjali
Harish
Kartika
Naveen
Ram
Samia
VANDANA

In [7]:
for x in students:
	if x == 'vandana': # compare
		print(x.upper())
	else:
		print(x.title())

Anjali
Harish
Kartika
Naveen
Ram
Samia
VANDANA

In [8]:
# introduction to slicing of lists
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'vandana']

In [9]:
print(students[0:2]) # -1

['anjali', 'harish']

In [10]:
print(students[2:4])

['kartika', 'naveen']

In [11]:
print(students[4:6])

['ram', 'samia']

In [13]:
print(students[5:6])

['samia']

In [14]:
print(students[6:7])

['vandana']

In [22]:
print(students[6:7])

['vandana']

In [16]:
print(students[7:8])

[]

In [17]:
print(students[0:7:2])  # every alternate studen starting from the begining

['anjali', 'kartika', 'ram', 'vandana']

In [18]:
print(students)

['anjali', 'harish', 'kartika', 'naveen', 'ram', 'samia', 'vandana']

In [20]:
print(students[6])

vandana

In [23]:
print(students[-1])

vandana

In [24]:
print(students[-2])

samia

In [25]:
print(students[::-1])

['vandana', 'samia', 'ram', 'naveen', 'kartika', 'harish', 'anjali']